
.food-box {
    width: 100%;

    display: grid;
    grid-template-columns: auto;
}

.food-box-column {
    width: 100%;
}

.food-container {
    position: relative;
    /*background-position: bottom;*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.food-container:hover {
    cursor: pointer;
}

.food-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.food-outline {
    position: absolute;
    z-index: 4;
    border: 1px solid #E9FFD4;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.food-name-container {
    color: #E9FFD4;
    position: absolute;
    z-index: 3;
    left: 25px;
    /*right: 25px;*/
    top: 25px;
}

.food-name {
    background-color: #5EBC8C;
    text-transform: uppercase;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.food-name-underline {
    border-bottom: 4px solid #E9FFD4;
}

.food-description {
    position: absolute;
    color: white;
    margin-top: 70px;
    padding: 10px 25px 25px 25px;
    display: none;
}

#injera {
    background-image: url(../images/about-ethiopia/injera.jpg);
    background-position: left;
    width: 100%;
    height: 220px;

}

#bayonet {
    background-image: url(../images/about-ethiopia/bayonet.jpg);
    background-position: left;
    height: 220px;
    width: 100%;
}

#buna {
    background-image: url(../images/about-ethiopia/buna.jpg);
    background-position: left;
    height: 300px;
    width: 100%;
}

#tibs {
    background-image: url(../images/about-ethiopia/tibs.jpg);
    background-position: left;
    height: 200px;
    width: 100%;
}

#tej {
    background-image: url(../images/about-ethiopia/tej.jpg);
    background-position: left;
    height: 300px;
    width: 100%;
}

/*Images to place in the Omo Valley foods*/

@media (min-width: 700px) {
    .food-box {
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .food-container:hover .food-overlay {
        display: block;
    }

    .food-container:hover .food-description {
        display: block;
    }

    #injera {
        height: 300px;
    }

    #bayonet {
        height: 280px;

    }

    #buna {
        height: 360px;
    }

    #tibs {
        height: 320px;
    }

    #tej {
        height: 300px;
    }

}