/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}






/* open-sans-700 - latin */

v @font-face {
    font-family: 'Open SansM';
    font-style: normal;
    font-weight: 700;
    src: url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg');

    /* Legacy iOS */
}






/* secular-one-regular - latin */

@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Secular One'), local('SecularOne-Regular'),
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('https://raw.githubusercontent.com/benjaminrubin/shalomethiopia/master/fonts/secular-one-v2-latin-regular.svg#SecularOne') format('svg');
    /* Legacy iOS */
}

:root {
    --margin-desktop: 225px;
}


body {
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}


h1 {
    text-align: center;
    color: white;
    font-family: EBGaramond-Bold, "Book Antiqua", Palatino, serif;
    letter-spacing: -0.89px;
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
}

h3 {
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    position: absolute;
    font-weight: normal;
    margin: 0 0;
}

h3 a {
    text-decoration: none;
    color: white;
}

.section {
    width: 100%;
    min-height: 10px;
}

.section h2 {
    margin: 0px 0px;
    text-transform: uppercase;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    font-weight: 400;
}

.section-body {
    font-family: EBGaramond-Regular, "Book Antiqua", Palatino, serif;
    font-size: 0.9em;
    text-align: justify;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 55px;

    max-width: 1000px;
    margin: auto auto;

    display: grid;
    grid-template-rows: 60px auto auto;
    align-items: center;

    overflow: overlay;
}

h2 {
    font-size: 20px;
}


.section-body h2 {
    justify-self: center;
}


.black-font-color {
    color: #000000;
}

.white-font-color {
    color: #FFF;
}

.hidden {
    opacity: 0;
    transition: .45s;
}



.btn-container {
    position: relative;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
    align-self: center;
}

.btn-container:hover {
    cursor: pointer;
}

.btn-top {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 6px 10px;
    width: 190px;
    height: 25px;
    border: 3px solid #000202;
    top: -6px;
    left: -6px;
    transition: .22s;
    color: white;
}

.btn-top:hover {
    transform: translate(-2px, -2px);
}

.btn-bottom {
    position: relative;
    width: 210px;
    height: 37px;
    border: 3px solid #000000;
    /*left: 6px;*/
    /*top: 5px;*/
}


/*Contact Section (On every page)*/

#contact-section {
    color: white;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;



    background-color: #DD4C13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    grid-template-areas: "contact-info contact-info contact-info""follow follow follow";

    padding-top: 20px;
    padding-bottom: 40px;
}

#contact-section #heading {
    text-transform: uppercase;
}

#contact-info {
    grid-area: contact-info;
    display: grid;
    grid-template-rows: auto auto auto auto;
    list-style-type: none;
    padding: 0px;
}

#contact-section #logo {
    grid-area: logo;
    position: relative;
    top: 10px;
    background-image: url("../images/temp_logo.png");
    height: 80px;
    width: 98px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-section #follow-buttons {
    grid-area: follow;
}

#contact-section #follow-buttons {
    display: grid;
    grid-template-columns: auto auto;
}

#contact-section #logo {
    display: none;
}

footer {
    text-align: center;
    color: white;
    background-color: #DD4C13;
    text-transform: uppercase;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

@media (min-width: 890px) {

    h1 {}

    h2 {
        font-size: 24px;
    }

    .body-text {
        font-size: 1.2em;
        max-width: 983px;
        /*padding-left: var(--margin-desktop);*/
        /*padding-right: var(--margin-desktop);*/
    }

    #contact-section {
        grid-template-areas: "contact-info logo follow";
    }

    #contact-section #logo {
        display: block;
    }

    .section-body {
        font-size: 1.15rem;
        min-height: 20px;
    }
}