/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}


/* open-sans-700 - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg');
    /* Legacy iOS */
}


/* secular-one-regular - latin */

@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/secular-one-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Secular One'), local('SecularOne-Regular'),
    url('../fonts/secular-one-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/secular-one-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/secular-one-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/secular-one-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/secular-one-v2-latin-regular.svg#SecularOne') format('svg');
    /* Legacy iOS */
}

:root {
    --margin-desktop: 225px;
}


body {
    font-family: 'Open Sans', Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

nav {
    top: 0px;
    position: fixed;
    left: 30px;
    right: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: space-between;
    z-index: 5;
}

nav ul {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-transform: uppercase;
    list-style: none;
    display: none;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 30px;
    align-items: start;
    justify-content: space-between;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
}

#request-booking-btn-menu {
    opacity: 0;
    padding: 6px 10px;
    /*background-color: white;*/
    border: 2px solid #DFB637;
    transition: .22s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

#request-booking-btn-menu:hover {
    background-color: #DFB637;
    cursor: default;
}

#request-booking-btn-menu a:hover {
    color: white;
}

nav ul a:hover {
    color: #FFDE22;
}

nav #mobile-menu-btn {
    position: relative;
    right: 0;
    top: 15px;
    color: white;
    font-size: 30px;
    user-select: none;
}

nav #mobile-menu-btn:hover {
    cursor: pointer;
}


nav #logo {
    position: relative;
    top: 10px;
    background-image: url("../images/temp_logo.png");
    height: 80px;
    width: 98px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav #logo:hover {
    cursor: pointer;
}

#nav-bg {
    display: none;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 55px;
    position: fixed;
    background-color: #479C53;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.21);
    z-index: 5;
}

#nav-backdrop {
    display: none;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0%;
    position: fixed;
    background-color: #479C53;
    z-index: 5;
}


h1 {
    text-align: center;
    color: white;
    font-family: EBGaramond-Bold, "Book Antiqua", Palatino, serif;
    letter-spacing: -0.89px;
    opacity: 0;
    text-shadow: 2px 2px 4px #333333;
}

.body-text h2 {
    margin: 0px 0px;
    text-transform: uppercase;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    font-weight: 400;
}

#about-shalom-ethiopia {
    color: #479C53;
}

#the-ethiopian-country {
    color: #FAD35C;
}

.body-text {
    font-family: EBGaramond-Regular, "Book Antiqua", Palatino, serif;
    font-size: 1em;


    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    overflow: overlay;
}

.black-font-color {
    color: #000000;
}

.white-font-color {
    color: #FFF;
}

.space {
    height: 100px;
}

.hidden {
    opacity: 0;
    transition: .45s;
}

h3 {
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    position: absolute;
    font-weight: normal;
    margin: 0 0;
}

.btn-container {
    position: relative;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
}

.btn-container:hover {
    cursor: pointer;
}

.btn-top {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 6px 10px;
    width: 190px;
    height: 25px;
    border: 3px solid #000202;
    top: -6px;
    left: -6px;
    transition: .22s;
    color: white;
}

.btn-top:hover {
    transform: translate(-2px, -2px);
}

.btn-bottom {
    position: relative;
    width: 210px;
    height: 37px;
    border: 3px solid #000000;
    /*left: 6px;*/
    /*top: 5px;*/
}

footer {
    text-align: center;
    color: white;
    background-color: #DD4C13;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

@media (min-width: 890px) {
    nav {
        left: var(--margin-desktop);
        right: var(--margin-desktop);
    }

    nav ul {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        text-transform: uppercase;
        list-style: none;
        display: grid !important;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 30px;
        align-items: start;
        justify-content: space-between;
    }

    h1 {}

    h2 {}

    #mobile-menu-btn {
        display: none;
    }
    #desktop-menu {
        display: inline;
    }

    .body-text {
        font-size: 1.2em;
        max-width: 983px;
        /*padding-left: var(--margin-desktop);*/
        /*padding-right: var(--margin-desktop);*/
    }
}