header {
    background-image: url("../images/homepage/lalibela_rock_churches-min.png");
    background-attachment: fixed;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -40px;
    overflow: hidden;
}

.overlay {
    background: rgba(66, 53, 37, 0.52);
    /*overflow: hidden;*/
    height: 100%;
}

.header-container {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 210px;
    /*justify-content: space-around;*/
    align-items: center;
    justify-content: center;
}

.header-container h1 {
    align-self: end;
    font-size: 73px;
}

#request-booking-btn {
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    width: 220px;

    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;

    align-self: start;
    padding: 6px 10px;
    /*background-color: white;*/
    border: 4px solid #DFB637;
    transition: .32s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
}

#request-booking-btn a {
    text-decoration: none;
    color: white;
}

#request-booking-btn:hover {
    background-color: #DFB637;
    cursor: pointer;
}

#request-booking-btn a:hover {
    color: white;
}


/*Section 1: General Information*/

.section-1 {
	display: grid;
	grid-template-rows: 60px auto 50px;
	padding-bottom: 70px;
	align-items: center;
}

.section-1 .btn-top {
	background-color: #D52A49;
}

.section-1 .btn-bottom {
	background: #F9D25B;
}

/*Section 2: About Ethiopia*/

.section-2 {
    background: #210815;
    display: grid;
	grid-template-rows: 60px auto 50px;
	padding-bottom: 70px;
	align-items: center;
}


.section-2 .btn-top {
	background-color: #1C896F;
}

.section-2 .btn-bottom {
	background: #D52A49;
}


/*Section 3: Instagram Feed*/

.section-3 {
	background: #DB9E0E;
    display: grid;
	grid-template-rows: 60px auto 50px;
	padding-bottom: 70px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.section-3 .btn-top {
	background-color: #D52A49;
}

.section-3 .btn-bottom {
	background: #1C896F;
}

#instagram {
	fill:white;
	position: relative;
	top: 4px;
	left: 8px;
}
