header {
    position: relative;
    width: 100%;
    /*height: 450px;*/
    overflow: hidden;
    height: 350px;
}

header .image {
    position: absolute;
    background-image: url("../images/homepage/lalibela_rock_churches-desktop.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: -100px -100px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

header .overlay {
    position: absolute;
    background: rgba(66, 53, 37, 0.52);
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
}

header .header-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr;
    /*justify-content: space-around;*/
    align-items: center;
    justify-content: center;
	
	padding-bottom: 60px;

}

header .header-container h1 {
    align-self: end;
    font-size: 35px;
}



header #request-booking-btn {
    opacity: 0;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-family: 'Secular One', 'Open Sans', Segoe UI, sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;

    align-self: start;
    padding: 6px 10px;
    /*background-color: white;*/
    border: 4px solid #DFB637;
    transition: .22s;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.33);
}

header #request-booking-btn:hover {
    background-color: #DFB637;
    cursor: pointer;
}

header #request-booking-btn a {
    text-decoration: none;
    color: white;
}

header #request-booking-btn a:hover {
    color: white;
}









/*Section 1: About Shalom Ethiopia*/

.about-section {
    align-items: center;
}

.about-section .btn-container {
    justify-self: center;
}

.about-section .btn-top {
    background-color: #D52A49;
}

.about-section .btn-bottom {
    background: #F9D25B;
}

.about-section h2 {
    color: #479C53;
}







/*Section 2: The Ethiopian Country*/

.ethiopia-section {
    background: #210815;
    color: white;
}


.ethiopia-section .btn-top {
    background-color: #1C896F;
}

.ethiopia-section .btn-bottom {
    background-color: #D52A49;
}

.ethiopia-section h2 {
    color: #FAD35C;
}








/*Section 3: Instagram Feed*/

.instagram-section {
    background: #DB9E0E;
    justify-content: center;
    text-align: center;
}

.instagram-section .btn-container {
    justify-self: center;
}

.instagram-section .btn-top {
    background-color: #D52A49;
}

.instagram-section .btn-bottom {
    background: #1C896F;
}

#instagram-feed {
    color: white;
    justify-self: center;
}

.instagram-section #instagram-icon {
    fill: white;
    position: relative;
    top: 4px;
    left: 8px;
}

.instagram-section #gallery-container {}

.instagram-section #gallery-container {
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 20px;
    /*justify-content: space-between;*/
    padding: 0px;
    margin: 0px;
}

.instagram-section .photo {
    width: 270px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.27);
    transition: .32s;
}

.instagram-section .photo:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.27);
    transform: translateY(-2px);
}


@media (min-width: 600px) {
    .instagram-section #gallery-container {
        grid-template-columns: auto auto auto;
    }

    header .header-container h1 {
        font-size: 73px;
    }
}


@media (min-width: 890px) {
    .section-body h2 {
        font-size: 24px;
        justify-self: start;
    }

    header {
        height: 470px;
    }

    header .image {
        background-position: center -40px;
    }

    .header-container {
        grid-template-rows: auto 210px;
    }



    .instagram-section #gallery-container {
        grid-template-columns: auto auto auto;
    }

    .instagram-section .photo {
        width: 270px;
        height: 250px;
    }
}